extends layout
block head
  script(src="javascripts/index.js")

block content
  h1 Contact List
  div
    a(href="/new")
      button New Contact
  div(id="display")
    each contact, i in contacts
      a(class="contact" href="/user/"+ identities[i] )
        p= i
        | #{contact}
      button(class="delete" onclick="deleteContact('"+identities[i]+"')") Delete
      br

