extends layout
block head
    script(src="/javascripts/new.js")


block content
    h1 Contact Informations
    a(href="/")
        button Back
    hr

    form( method="post" enctype="application/json")
        div
            label firstname:
            input(class="input data" type="text" name="firstName" )
        div
            label lastname:
            input(class="input data" type="text" name="lastName" )
        div
            label birth date:
            input(class="input data" type="date" name="birthDate" )
        div
            label company:
            input(class="input data" type="text" name="company" )
        div(id="emails")
            label email(s):
            input(class="input data" type="email" name="emails[0][email]" )
            select( class="data" name="emails[0][type]" )
                option( value="PRO" ) PRO
                option( value="PERSONNAL" ) PERSONNAL
            button(id="addEmail" type="button") +
        div
            label addresse(s):
            div(id="addressDiv")
                div(class="addressBox")
                    label Street number:
                    input(class="address data" type="number" name="addresses[0][streetNb]" )
                div(class="addressBox")
                    label Street type:
                    select( class="data" name="addresses[0][streetType]" )
                        option( value="ROAD" ) Road
                        option( value="AVENUE" ) Avenue
                        option( value="DEAD END" ) Dead end
                div(class="addressBox")
                    label Street name:
                    input(class="address data" type="text" name="addresses[0][street]" )
                br
                div(class="addressBox")
                    label City:
                    input(class="address data" type="text" name="addresses[0][city]" )
                div(class="addressBox")
                    label State:
                    input(class="address data" type="text" name="addresses[0][state]" )
                div(class="addressBox")
                    label Zip code:
                    input(class="address data" type="number" name="addresses[0][zipCode]" )
                br
                div(class="addressBox")
                    label Country:
                    input(class="address data" type="text" name="addresses[0][country]" )
                div(class="addressBox")
                    label Type:
                    select( class="data" name="addresses[0][type]" )
                        option( value="PRO" ) PRO
                        option( value="PERSONNAL" ) PERSONNAL


        button(type="button" id="save" ) Save contact

    hr
