extends layout
block head


block content
    h1 Contact Informations
    a(href="/")
        button Back
    hr

    form( method="post" )
        div
            label firstname:
            input(class="input" type="text" name="firstName" required)
        div
            label lastname:
            input(class="input" type="text" name="lastName" required)
        div
            label birth date:
            input(class="input" type="date" name="birthDate" )
        div
            label company:
            input(class="input" type="text" name="company" required)
        div(id="emails")
            label email(s):
            input(class="input" type="email" name="emails.email" )
            select( name="emails.type" )
                option( value="PRO" ) PRO
                option( value="PERSONNAL" ) PERSONNAL
            button(id="addEmail" type="button") +
        div
            label addresse(s):
            div(id="addressDiv")
                div(class="addressBox")
                    label Street number:
                    input(class="address" type="number" name="streetNb" )
                div(class="addressBox")
                    label Street type:
                    select( name="streetType" )
                        option( value="ROAD" ) Road
                        option( value="AVENUE" ) Avenue
                        option( value="DEAD END" ) Dead end
                div(class="addressBox")
                    label Street name:
                    input(class="address" type="text" name="street" )
                br
                div(class="addressBox")
                    label City:
                    input(class="address" type="text" name="city" )
                div(class="addressBox")
                    label State:
                    input(class="address" type="text" name="state" )
                div(class="addressBox")
                    label Zip code:
                    input(class="address" type="number" name="zipCode" )
                br
                div(class="addressBox")
                    label Country:
                    input(class="address" type="text" name="country" )
                div(class="addressBox")
                    label Type:
                    select( name="type" )
                        option( value="PRO" ) PRO
                        option( value="PERSONNAL" ) PERSONNAL


        button(type="submit" id="save" ) Save contact

    hr
