extends layout
block head
    script(src="/javascripts/new.js")

block content
    div(class="row align-items-center justify-content-between")
        div(class="col col-sm-6")
            h1 New Contact
        a(class="col-3 col-lg-1 " href="/main")
            button( type="button" class="btn btn-primary") Back
    hr

    form( method="post" enctype="application/json")
        div(class="form-group row")
            label(class="col-4 col-md-2 col-form-label") Firstname
            div(class="col-12 col-md-8")
                input(class="data form-control" type="text" name="firstName" )

        div(class="form-group row")
            label(class="col-4 col-md-2 col-form-label") Lastname
            div(class="col-12 col-md-8")
                input(class=" data form-control" type="text" name="lastName" )

        div(class="form-group row")
            label(class="col-4 col-md-2 col-form-label") Birth date
            div(class="col-12 col-md-8")
                input(class=" data form-control" type="date" name="birthDate" )

        div(class="form-group row")
            label(class="col-4 col-md-2 col-form-label") Company
            div(class="col-12 col-md-8")
                input(class=" data form-control" type="text" name="company" )

        div(class="form-group row" )
            label(class="col-5 col-md-2 col-form-label") Email(s)
            div(class="col-9 col-md-8 form-row" id="emails")
                div(class="col-12 form-row")
                    div(class="col-8 col-md-9")
                        input(class="data form-control" type="email" value="" name="emails[0][email]" )
                    select( class="data col-4 col-md-3 custom-select" name="emails[0][type]" )
                        option( value="PRO" ) PRO
                        option( value="PERSONNAL" ) PERSONNAL
                    br
                    br
            div(class="col-2 ")
                div(class="btn-group" data-toggle="buttons")
                    button(id="addEmail" type="button" class="btn btn-outline-secondary" ) +
                    button(id="removeEmail" type="button" class="btn btn-outline-secondary" ) -

        div(class="form-group row justify-content-center")
            label(class="col-4 col-md-2 col-form-label") Address:

            div(class="col-9" id="addressDiv")
                div(class="form-row")
                    div(class="form-group col-md-4")
                        label Street n°:
                        input(class="data form-control" type="number" name="addresses[0][streetNb]" )
                    div(class="form-group col-md-4")
                        label Street type:
                        br
                        select( class="data custom-select" name="addresses[0][streetType]" )
                            option( value="ROAD" selected) Road
                            option( value="AVENUE" ) Avenue
                            option( value="DEAD END" ) Dead end
                    div(class="form-group col-md-4")
                        label Street name:
                        input(class="data form-control" type="text" name="addresses[0][street]" pattern="[a-zA-Z]*" )

                div(class="form-row")
                    div(class="form-group col-md-4")
                        label City:
                        input(class="data form-control" type="text" name="addresses[0][city]"  )
                    div(class="form-group col-md-4")
                        label State:
                        input(class="data form-control" type="text" name="addresses[0][state]"  )
                    div(class="form-group col-md-4")
                        label Zip code:
                        input(class="data form-control" type="number" name="addresses[0][zipCode]"  )

                div(class="form-row")
                    div(class="form-group col-md-4")
                        label Country:
                        input(class="data form-control" type="text" name="addresses[0][country]"  )
                    div(class="form-group col-md-4")
                        label Type:
                        br
                        select( class="data custom-select" name="addresses[0][type]" )
                            option( value="PRO" selected) PRO
                            option( value="PERSONNAL" ) PERSONNAL
            div(class="col-1")
                button(class="btn" id="addAddress" type="button" disabled) +

        br
        button(class="btn" type="submit" id="save" ) Save contact


block footer
    br
    div(class="row")
        a(class="col-sm text-center" href="/") Homepage
        a(class="col-sm text-center" href="/signin") Sign in
        a(class="col-sm text-center" href="/main") My contacts
        a(class="col-sm text-center" href="/contact") Contact us
    br
    div(class="row justify-content-around")
        a( class="col-4" href="https://heroku.com/" )
            img( class="img" src="../images/built-on-heroku-dark.ef2aa337.svg" class="img-fluid mx-auto d-block")
        a( class="col-4" href="https://mlab.com/" )
            img( src="../images/mLab-logo-onlight.png"  class="img-fluid mx-auto d-block")
        a( class="col-4" href="https://nodejs.org/" )
            img( src="../images/nodejs-new-black.png" class="img-fluid mx-auto d-block")