html{
    position: relative;
    min-height: 100%;
}

body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*padding-top: 50px ;
     */
    height: 100%;
    margin: 0;
    max-width: 100%;

}



main{
    min-height: initial;
    height: auto;
    margin-top: 2em;
    margin-bottom: 8em;
    padding-bottom: 2em;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8em;
    line-height: 1.5em;
    background-color: #fafafa;
}
img{
    height: auto;
    max-height: 50px !important;
    max-width: 100%;
}

a {
    color: #00B7FF;
}

.contact{
    display: inline-block;
    border: solid #007bff 1px !important;
    border-radius: 5px ;
    padding: 0.5em 1em !important;
}
.contact:hover{
    background-color: #007bff;
    color: white;
}
.contact div div{
    text-align: left;
}

.delete{
    display: inline-block;
    border: solid darkgray 1px;
    padding: 1em;
    border-radius: 5px;
    margin: 5px 5px;
    vertical-align: text-bottom;
}
.delete:hover{
    background-color: seashell;
    cursor: pointer;
}

label{
    display:inline-block;
    width:100px;
    font-weight: bold;
}

select{
    margin-right: 2em;
}

#addressDiv{
    display: inline-block;
    vertical-align: text-top;
    border: dashed gainsboro 1px;
    border-radius: 5px;
    padding: 1em;
}



@media screen and (max-width: 768px){
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row{
        max-width: 100%;
        margin: 0 !important;
    }

    .form-group{
        margin: 0 !important;
    }

    form{
        margin: 0 !important;
    }
    .contact{
        padding: 0.2em !important;
    }
}