body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.contact{
  display: block;
  border: solid darkgray 1px;
  padding: 1em;
  border-radius: 5px;
  margin: 5px 0;
}

.contact:hover{
  background-color: seashell;
}