body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.contact{
  display: inline-block;
  border: solid darkgray 1px;
  padding: 1em;
  border-radius: 5px;
  margin: 5px 0;
  width: 50%;
}

.contact:hover{
  background-color: seashell;
}

.delete{
  display: inline-block;
  border: solid darkgray 1px;
  padding: 1em;
  border-radius: 5px;
  margin: 5px 0;
  vertical-align: text-bottom;
}
.delete:hover{
  background-color: seashell;
}

label{
  display:inline-block;
  width:100px;
  font-weight: bold;
}

.input{
  width: 25%;
  margin-right: 2em;
  margin-bottom: 1em;
}

select{
  margin-right: 2em;
}

.address{
  margin-right: 2em;
  margin-bottom: 1em;
}
#addressDiv{
  display: inline-block;
  vertical-align: text-top;
}
.addressBox{
  display: inline-block;
}